<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.allsparkstudio.zaixiyou.dao.EventRemindMapper">
    <select id="selectReplyNoticesByUserId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from event_remind
        where receive_id = #{userId,jdbcType=INTEGER}
        and action between 6 and 7
        and state = 0
        order by id desc
    </select>
    <update id="updateState" parameterType="com.allsparkstudio.zaixiyou.pojo.po.EventRemind">
        update event_remind
        set state = #{state,jdbcType=INTEGER}
        where id = #{id,jdbcType=INTEGER}
    </update>
    <select id="countNewsNoticeByUserId" parameterType="java.lang.Integer" resultType="java.lang.Integer">
        select count(*)
        from event_remind
        where receive_id = #{userId,jdbcType=INTEGER}
          and action in (1, 2, 3, 4, 5, 8)
          and state = 0;
    </select>
    <select id="countReplyNoticeByUserId" parameterType="java.lang.Integer" resultType="java.lang.Integer">
        select count(*)
        from event_remind
        where receive_id = #{userId,jdbcType=INTEGER}
          and action between 6 and 7
          and state = 0;
    </select>
    <select id="countAtNoticeByUserId" parameterType="java.lang.Integer" resultType="java.lang.Integer">
        select count(*)
        from event_remind
        where receive_id = #{userId,jdbcType=INTEGER}
          and action = 9
          and state = 0;
    </select>
    <select id="selectNewsNoticesByUserId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from event_remind
        where receive_id = #{userId,jdbcType=INTEGER}
        and action in (1,2,3,4,5,8)
        and state = 0
        order by id desc
    </select>
    <select id="selectAtNoticesByUserId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from event_remind
        where receive_id = #{userId,jdbcType=INTEGER}
        and action = 9
        and state = 0
        order by id desc
    </select>
</mapper>