<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.allsparkstudio.zaixiyou.dao.FollowMapper">
    <select id="countByUserId" parameterType="java.lang.Integer" resultType="java.lang.Integer">
        select count(*)
        from follow
        where user_id = #{userId, jdbcType=INTEGER}
          and status = 1
    </select>
    <select id="countByFollowedUserId" parameterType="java.lang.Integer" resultType="java.lang.Integer">
        select count(*)
        from follow
        where followed_user_id = #{userId, jdbcType=INTEGER}
          and status = 1
    </select>
    <select id="isFollowed" parameterType="java.lang.Integer" resultType="boolean">
        select count(*)
        from follow
        where user_id = #{myId, jdbcType=INTEGER}
          and followed_user_id = #{hisId, jdbcType=INTEGER}
          and status = 1
    </select>
    <select id="selectFansIdList" parameterType="java.lang.Integer" resultType="java.lang.Integer">
        select followed_user_id
        from follow
        where user_id = #{userId, jdbcType=INTEGER}
          and status = 1
    </select>
    <select id="selectFollowsIdList" parameterType="java.lang.Integer" resultType="java.lang.Integer">
        select user_id
        from follow
        where followed_user_id = #{userId, jdbcType=INTEGER}
          and status = 1
    </select>
    <select id="selectBy2UserId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from follow
        where user_id = #{userId,jdbcType=INTEGER}
        and followed_user_id = #{followedUserId,jdbcType=INTEGER}
    </select>
</mapper>