<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.allsparkstudio.zaixiyou.dao.PostMapper">
    <select id="countByAuthorIdAndType" parameterType="java.lang.Integer" resultType="java.lang.Integer">
        select count(*)
        from post
        where author_id = #{authorId,jdbcType=INTEGER}
        and type = #{type,jdbcType=INTEGER}
    </select>
    <select id="selectAllByTime" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from post
        where state = 0
        order by top_order desc, id desc
    </select>
    <select id="selectAllByHeat" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from post
        where state = 0
        order by top_order desc, heat desc, id desc
    </select>
    <select id="selectAllByAuthorId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from post
        where state = 0
        and author_id = #{authorId,jdbcType=INTEGER}
        order by id desc
    </select>
    <select id="selectByUserIdAndType" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from post
        where state = 0
        and author_id = #{authorId,jdbcType=INTEGER}
        and type = #{type,jdbcType=INTEGER}
        order by id desc
    </select>
    <select id="selectPostsByCategoryIdSortedByTime" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from post
        where id in (select post_id from post_category where category_id = #{categoryId,jdbcType=INTEGER})
        order by id desc
    </select>
    <select id="selectFavoritesPostsByUserIdAndType" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select <include refid="Base_Column_List" />
        from post
        where type = #{type,jdbcType=INTEGER}
        and id in (select post_id from user_post_favorite where user_id = #{userId,jdbcType=INTEGER} and state = 1)
        order by id desc
    </select>
    <update id="updateHeat" parameterType="com.allsparkstudio.zaixiyou.pojo.po.Post">
        update post
        set heat = #{heat,jdbcType=INTEGER}
        where id = #{id,jdbcType=INTEGER}
    </update>
    <select id="selectPostsByCategoryIdSortedByHeat" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from post
        where id in (select post_id from post_category where category_id = #{categoryId,jdbcType=INTEGER})
        order by heat desc
    </select>
</mapper>