<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.allsparkstudio.zaixiyou.dao.UserMapper">
    <select id="selectByPhone" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from user
        where phone = #{phone,jdbcType=VARCHAR}
    </select>
    <select id="selectAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from user
    </select>
    <select id="selectFans" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from user
        where id in (select user_id from follow where followed_user_id = #{userId,jdbcType=INTEGER} and state = 1)
    </select>
    <select id="selectFollowers" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from user
        where id in (select followed_user_id from follow where user_id = #{userId,jdbcType=INTEGER} and state = 1)
    </select>
    <update id="updateLastActiveTime" parameterType="com.allsparkstudio.zaixiyou.pojo.po.User">
        update user
        set last_active_time = #{lastActiveTime,jdbcType=VARCHAR}
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateInsertableCoins" parameterType="com.allsparkstudio.zaixiyou.pojo.po.User">
        update user
        set insertable_coins = #{insertableCoins,jdbcType=INTEGER}
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateExchangeableCoins" parameterType="com.allsparkstudio.zaixiyou.pojo.po.User">
        update user
        set exchangeable_coins = #{exchangeableCoins,jdbcType=INTEGER}
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateLikeNum" parameterType="com.allsparkstudio.zaixiyou.pojo.po.User">
        update user
        set like_num = #{likeNum,jdbcType=INTEGER}
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateExpAndLv" parameterType="com.allsparkstudio.zaixiyou.pojo.po.User">
        update user
        set experience = #{experience,jdbcType=INTEGER},
            level = #{level,jdbcType=INTEGER}
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateAvatar" parameterType="com.allsparkstudio.zaixiyou.pojo.po.User">
        update user
        set avatar_url = #{avatarUrl,jdbcType=INTEGER}
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateBackground" parameterType="com.allsparkstudio.zaixiyou.pojo.po.User">
        update user
        set userpage_bg_img_url = #{userpageBgImgUrl,jdbcType=VARCHAR}
        where id = #{id,jdbcType=INTEGER}
    </update>
</mapper>