<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.allsparkstudio.zaixiyou.dao.UserCommentLikeMapper">
    <select id="selectByUserIdAndCommentId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from user_comment_like
        where user_id = #{userId,jdbcType=INTEGER}
        and comment_id = #{commentId,jdbcType=INTEGER}
    </select>
</mapper>