<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.allsparkstudio.zaixiyou.dao.UserMapper">
  <resultMap id="BaseResultMap" type="com.allsparkstudio.zaixiyou.pojo.po.User">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="nickname" jdbcType="VARCHAR" property="nickname" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="gender" jdbcType="INTEGER" property="gender" />
    <result column="grade" jdbcType="VARCHAR" property="grade" />
    <result column="major" jdbcType="VARCHAR" property="major" />
    <result column="avatar_url" jdbcType="VARCHAR" property="avatarUrl" />
    <result column="level" jdbcType="INTEGER" property="level" />
    <result column="experience" jdbcType="INTEGER" property="experience" />
    <result column="register_time" jdbcType="TIMESTAMP" property="registerTime" />
    <result column="insertable_coins" jdbcType="INTEGER" property="insertableCoins" />
    <result column="exchangeable_coins" jdbcType="INTEGER" property="exchangeableCoins" />
    <result column="state" jdbcType="INTEGER" property="state" />
    <result column="background_url" jdbcType="VARCHAR" property="backgroundUrl" />
    <result column="custom_app_color" jdbcType="VARCHAR" property="customAppColor" />
    <result column="last_active_time" jdbcType="VARCHAR" property="lastActiveTime" />
    <result column="like_num" jdbcType="INTEGER" property="likeNum" />
    <result column="account_auth" jdbcType="VARCHAR" property="accountAuth" />
    <result column="wechat_openid" jdbcType="VARCHAR" property="wechatOpenid" />
  </resultMap>
  <sql id="Base_Column_List">
    id, phone, nickname, password, description, gender, grade, major, avatar_url, level, 
    experience, register_time, insertable_coins, exchangeable_coins, state, background_url, 
    custom_app_color, last_active_time, like_num, account_auth, wechat_openid
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from user
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.allsparkstudio.zaixiyou.pojo.po.User">
    insert into user (id, phone, nickname, 
      password, description, gender, 
      grade, major, avatar_url, 
      level, experience, register_time, 
      insertable_coins, exchangeable_coins, state, 
      background_url, custom_app_color, last_active_time, 
      like_num, account_auth, wechat_openid
      )
    values (#{id,jdbcType=INTEGER}, #{phone,jdbcType=VARCHAR}, #{nickname,jdbcType=VARCHAR}, 
      #{password,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, #{gender,jdbcType=INTEGER}, 
      #{grade,jdbcType=VARCHAR}, #{major,jdbcType=VARCHAR}, #{avatarUrl,jdbcType=VARCHAR}, 
      #{level,jdbcType=INTEGER}, #{experience,jdbcType=INTEGER}, #{registerTime,jdbcType=TIMESTAMP}, 
      #{insertableCoins,jdbcType=INTEGER}, #{exchangeableCoins,jdbcType=INTEGER}, #{state,jdbcType=INTEGER}, 
      #{backgroundUrl,jdbcType=VARCHAR}, #{customAppColor,jdbcType=VARCHAR}, #{lastActiveTime,jdbcType=VARCHAR}, 
      #{likeNum,jdbcType=INTEGER}, #{accountAuth,jdbcType=VARCHAR}, #{wechatOpenid,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" keyProperty="id" useGeneratedKeys="true" parameterType="com.allsparkstudio.zaixiyou.pojo.po.User">
    insert into user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="nickname != null">
        nickname,
      </if>
      <if test="password != null">
        password,
      </if>
      <if test="description != null">
        description,
      </if>
      <if test="gender != null">
        gender,
      </if>
      <if test="grade != null">
        grade,
      </if>
      <if test="major != null">
        major,
      </if>
      <if test="avatarUrl != null">
        avatar_url,
      </if>
      <if test="level != null">
        level,
      </if>
      <if test="experience != null">
        experience,
      </if>
      <if test="registerTime != null">
        register_time,
      </if>
      <if test="insertableCoins != null">
        insertable_coins,
      </if>
      <if test="exchangeableCoins != null">
        exchangeable_coins,
      </if>
      <if test="state != null">
        state,
      </if>
      <if test="backgroundUrl != null">
        background_url,
      </if>
      <if test="customAppColor != null">
        custom_app_color,
      </if>
      <if test="lastActiveTime != null">
        last_active_time,
      </if>
      <if test="likeNum != null">
        like_num,
      </if>
      <if test="accountAuth != null">
        account_auth,
      </if>
      <if test="wechatOpenid != null">
        wechat_openid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="nickname != null">
        #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="gender != null">
        #{gender,jdbcType=INTEGER},
      </if>
      <if test="grade != null">
        #{grade,jdbcType=VARCHAR},
      </if>
      <if test="major != null">
        #{major,jdbcType=VARCHAR},
      </if>
      <if test="avatarUrl != null">
        #{avatarUrl,jdbcType=VARCHAR},
      </if>
      <if test="level != null">
        #{level,jdbcType=INTEGER},
      </if>
      <if test="experience != null">
        #{experience,jdbcType=INTEGER},
      </if>
      <if test="registerTime != null">
        #{registerTime,jdbcType=TIMESTAMP},
      </if>
      <if test="insertableCoins != null">
        #{insertableCoins,jdbcType=INTEGER},
      </if>
      <if test="exchangeableCoins != null">
        #{exchangeableCoins,jdbcType=INTEGER},
      </if>
      <if test="state != null">
        #{state,jdbcType=INTEGER},
      </if>
      <if test="backgroundUrl != null">
        #{backgroundUrl,jdbcType=VARCHAR},
      </if>
      <if test="customAppColor != null">
        #{customAppColor,jdbcType=VARCHAR},
      </if>
      <if test="lastActiveTime != null">
        #{lastActiveTime,jdbcType=VARCHAR},
      </if>
      <if test="likeNum != null">
        #{likeNum,jdbcType=INTEGER},
      </if>
      <if test="accountAuth != null">
        #{accountAuth,jdbcType=VARCHAR},
      </if>
      <if test="wechatOpenid != null">
        #{wechatOpenid,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.allsparkstudio.zaixiyou.pojo.po.User">
    update user
    <set>
      <if test="phone != null">
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="nickname != null">
        nickname = #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="gender != null">
        gender = #{gender,jdbcType=INTEGER},
      </if>
      <if test="grade != null">
        grade = #{grade,jdbcType=VARCHAR},
      </if>
      <if test="major != null">
        major = #{major,jdbcType=VARCHAR},
      </if>
      <if test="avatarUrl != null">
        avatar_url = #{avatarUrl,jdbcType=VARCHAR},
      </if>
      <if test="level != null">
        level = #{level,jdbcType=INTEGER},
      </if>
      <if test="experience != null">
        experience = #{experience,jdbcType=INTEGER},
      </if>
      <if test="registerTime != null">
        register_time = #{registerTime,jdbcType=TIMESTAMP},
      </if>
      <if test="insertableCoins != null">
        insertable_coins = #{insertableCoins,jdbcType=INTEGER},
      </if>
      <if test="exchangeableCoins != null">
        exchangeable_coins = #{exchangeableCoins,jdbcType=INTEGER},
      </if>
      <if test="state != null">
        state = #{state,jdbcType=INTEGER},
      </if>
      <if test="backgroundUrl != null">
        background_url = #{backgroundUrl,jdbcType=VARCHAR},
      </if>
      <if test="customAppColor != null">
        custom_app_color = #{customAppColor,jdbcType=VARCHAR},
      </if>
      <if test="lastActiveTime != null">
        last_active_time = #{lastActiveTime,jdbcType=VARCHAR},
      </if>
      <if test="likeNum != null">
        like_num = #{likeNum,jdbcType=INTEGER},
      </if>
      <if test="accountAuth != null">
        account_auth = #{accountAuth,jdbcType=VARCHAR},
      </if>
      <if test="wechatOpenid != null">
        wechat_openid = #{wechatOpenid,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.allsparkstudio.zaixiyou.pojo.po.User">
    update user
    set phone = #{phone,jdbcType=VARCHAR},
      nickname = #{nickname,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      gender = #{gender,jdbcType=INTEGER},
      grade = #{grade,jdbcType=VARCHAR},
      major = #{major,jdbcType=VARCHAR},
      avatar_url = #{avatarUrl,jdbcType=VARCHAR},
      level = #{level,jdbcType=INTEGER},
      experience = #{experience,jdbcType=INTEGER},
      register_time = #{registerTime,jdbcType=TIMESTAMP},
      insertable_coins = #{insertableCoins,jdbcType=INTEGER},
      exchangeable_coins = #{exchangeableCoins,jdbcType=INTEGER},
      state = #{state,jdbcType=INTEGER},
      background_url = #{backgroundUrl,jdbcType=VARCHAR},
      custom_app_color = #{customAppColor,jdbcType=VARCHAR},
      last_active_time = #{lastActiveTime,jdbcType=VARCHAR},
      like_num = #{likeNum,jdbcType=INTEGER},
      account_auth = #{accountAuth,jdbcType=VARCHAR},
      wechat_openid = #{wechatOpenid,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>