<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.allsparkstudio.zaixiyou.dao.UserCommentMapper">
  <resultMap id="BaseResultMap" type="com.allsparkstudio.zaixiyou.pojo.po.UserComment">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="comment_id" jdbcType="INTEGER" property="commentId" />
    <result column="liked" jdbcType="BIT" property="liked" />
    <result column="coined" jdbcType="BIT" property="coined" />
  </resultMap>
  <sql id="Base_Column_List">
    id, user_id, comment_id, liked, coined
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user_comment
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from user_comment
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.allsparkstudio.zaixiyou.pojo.po.UserComment">
    insert into user_comment (id, user_id, comment_id, 
      liked, coined)
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{commentId,jdbcType=INTEGER}, 
      #{liked,jdbcType=BIT}, #{coined,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="com.allsparkstudio.zaixiyou.pojo.po.UserComment">
    insert into user_comment
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="commentId != null">
        comment_id,
      </if>
      <if test="liked != null">
        liked,
      </if>
      <if test="coined != null">
        coined,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="commentId != null">
        #{commentId,jdbcType=INTEGER},
      </if>
      <if test="liked != null">
        #{liked,jdbcType=BIT},
      </if>
      <if test="coined != null">
        #{coined,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.allsparkstudio.zaixiyou.pojo.po.UserComment">
    update user_comment
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="commentId != null">
        comment_id = #{commentId,jdbcType=INTEGER},
      </if>
      <if test="liked != null">
        liked = #{liked,jdbcType=BIT},
      </if>
      <if test="coined != null">
        coined = #{coined,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.allsparkstudio.zaixiyou.pojo.po.UserComment">
    update user_comment
    set user_id = #{userId,jdbcType=INTEGER},
      comment_id = #{commentId,jdbcType=INTEGER},
      liked = #{liked,jdbcType=BIT},
      coined = #{coined,jdbcType=BIT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>